body{
    margin: 0px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}

body{
    background-color: rgb(121, 182, 240);
}
    
    body{
    background-image: url(stennis.jpeg);
    background-repeat: no-repeat;
    background-position:bottom;
    background-attachment: fixed;
    background-size: 575px;
    }

h1{
    text-align: center;
}
h2{
    text-align: center;
}

.navbar ul{
    list-style-type:none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: darkblue;
}




.navbar li{
    float: left;
}

















